pyspark==3.5.4
delta-spark==3.3.0
deltalake==0.25.4
apache-airflow-providers-apache-spark
apache-airflow-providers-apache-kafka
apache-airflow-providers-elasticsearch
apache-airflow-providers-redis
apache-airflow-providers-postgres
